<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ニュース</title>
</head>
<body>
<h1>ニュース編集</h1>
<form action="edit.php" method="post">
  <input type="hidden" name="id" value="{$article.id}" />
  タイトル：<br />
  <input type="text" name="title" size="30" value="{$article.title|escape}" /><br />
  本文：<br />
  <textarea name="detail" cols="30" rows="5">{$article.detail|escape}</textarea><br />
  パスワード：<br />
  <input type="password" name="key" size="10" value="" /><br />
  <br />
  <input type="submit" value="編集する" />
</form>
<ul>
  <li><a href="view.php?id={$article.id}">記事へ戻る</a></li>
</ul>
</body>
</html>
