<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>ニュース</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
</head>

<body>
  <div class="container" style="padding:20px 0">
    <!-- タイトル -->
    <h1 class="bg-primary">ニュース一覧</h1>

    <!-- シンプルな表示
    <ul>
      {foreach $articles as $article}
      <li><a href="view.php?id={$article.id}">No.{$article.id} {$article.title|escape}</a></li>
      {/foreach}
    </ul>
    --->

    <table class="table table-striped table-bordered">
      <thread>
        <tr class="success">
          <th>項番</th>
          <th>タイトル</th>
        </tr>
      </thread>
      <tbody>
        {foreach $articles as $article}
        <tr>
          <td><a href="view.php?id={$article.id}">No.{$article.id}</a></td>
          <td><a href="view.php?id={$article.id}"> {$article.title|escape}</a></td>
        </tr>
        {/foreach}
      </tbody>
    </table>
  
    <!-- リンク -->
    <a href="regist_form.php" class="btn btn-primary">登録</a>
    <a href="logout.php" class="btn btn-primary">ログアウト</a>
   
  </div>
  <!-- jquery -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>

</html>
