<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>ニュース</title>
</head>
<body>
<h1>ニュース登録</h1>
<form action="regist.php" method="post">
  タイトル：<br />
  <input type="text" name="title" size="30" value="" /><br />
  本文：<br />
  <textarea name="detail" cols="30" rows="5"></textarea><br />
  パスワード：<br />
  <input type="password" name="key" size="10" value="" /><br />
  <br />
  <input type="submit" value="登録する" />
</form>
<ul>
  <li><a href="index.php">一覧へ戻る</a></li>
</ul>
</body>
</html>
