<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>ニュース</title>
</head>

<body>
  <div class="container" style="padding:20px 0">
    <!-- タイトル -->
    <h1 class="bg-primary">ニュース詳細</h1>

    <h2>No.{$article.id} {$article.title|escape}</h2>
    <p>{$article.detail|escape|nl2br}</p>
    <p>投稿日時：{$article.created}</p>

    <!--<ul>-->
    <!--  <li><a href="edit_form.php?id={$article.id}">編集</a></li>-->
    <!--  <li><a href="delete_form.php?id={$article.id}">削除</a></li>-->
    <!--</ul>-->
    <!-- リンク -->
    <a href="edit_form.php?id={$article.id}" class="btn btn-primary">編集</a>
    <a href="delete_form.php?id={$article.id}" class="btn btn-primary">削除</a>
    <a href="index.php" class="btn btn-primary">一覧へ戻る</a>
  
  </div>
  <!-- jquery -->
  <script src="http://code.jquery.com/jquery.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</body>

</html>
